<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Skystore</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:product_list' %}">Каталог</a>
            </li>
            <li class="nav-item active">
                <a class="p-2 btn btn-outline-primary" href="{% url 'blog:home' %}">Блоги</a>
            </li>
            <li class="nav-item active">
                <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:contacts' %}">Контакты</a>
            </li>
        </ul>
        <div style="display: flex; margin-left: auto">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                {{ user.email }}
                <li class="nav-item">
                    <a class="btn btn-primary" href="{% url 'users:user_update' user.pk %}">Изменить пароль</a>
                </li>
                <li class="nav-item">

                    <form method="post" action="{% url 'users:logout' %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary">Выйти
                        </button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="btn btn-primary" href="{% url 'users:login' %}">Войти</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-success" href="{% url 'users:register' %}">Регистрация</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>