{% extends 'catalog/base.html' %}

{% block title %}
{% if form.instance.pk %}
Обновление
{% else %}
Создание
{% endif %}
продукта
{% endblock %}

{% block content %}
<h1 class="mb-4">
    {% if form.instance.pk %}
    Обновление
    {% else %}
    Создание
    {% endif %}
    продукта
</h1>
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type='submit' class="btn btn-primary">
            {% if form.instance.pk %}
            Обновить
            {% else %}
            Создать
            {% endif %}
        </button>
        <a href="{% url 'catalog:product_list' %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}